*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  min-width: 100vw;
  background: linear-gradient(to top, #2B2F77, #070B34);
  color: rgb(255, 255, 50);
  font-family: Mansalva;
  text-transform: lowercase`;
  background-size: stretch !important;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

body {
	padding: 0;
	margin:0;
}

.logout-link {
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  padding: 10px;
}

h1 {
  font-size: 50px;
  font-family: Mansalva;
}

h3 {
  font-size: 25px;
  font-style: italic;
  text-transform: capitalize;
  padding: 0.75em;
}

button {
  font-family: Mansalva;
  cursor: pointer
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 50);
  color: rgb(255, 255, 50);
  font-size: 24px;
  font-family: Mansalva;
  text-transform: lowercase;
  padding: 0.5rem;
}

.constellation-name {
	margin: 0 1rem;
}

.constellation-name::placeholder {
  color: darkkhaki;
  opacity: 0.6;

}

input[type=text]:focus {
  outline: none;
}

input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 50);
  color: rgb(255, 255, 50);
  font-size: 24px;
  font-family: Mansalva;
}

input[type=password]:hover {
  background-color: #002;
}

input[type=password]:focus {
  outline: none;
}

input[type=submit] {
  background-color: #002;
  border: 1px solid rgb(255, 255, 50);
  color: rgb(255, 255, 50);
  font-size: 24px;
  font-family: Mansalva;
  align: center;
}

input[type=submit]:hover {
  cursor: pointer;
}

button {
  background-color: rgb(255, 255, 50);
  border: none;
  color: #000;
  font-size: 24px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.button-save {
  text-transform: lowercase;
}
