<!DOCTYPE html>
<html>

  <head>
    <title>Log in to Outer Space</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
  </head>
  <!-- -->
  <body>
    <div class="container">
      <div class='container'>
        <a href='/draw'><button>draw</button></a>
        <br>
        <p style='align-center'>draw your very own constellations on a randomly generated field of stars</p>
      </div>
    </div>
  </body>

</html>
