<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>show me outer space</title>
    <link rel="stylesheet" href="/static/landing_style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
</head>
<body>
  <p style="color: white;">
    Shakil Rafi, Patrick Chan, Lily Zhong, Boaz Kaufman
  </p>
    <div class="container">
        <div class="title-container">
            <h1 class="title title-sm">Show Me<br />
                <span class="title title-lg">Outer Space!</span>
            </h1>
        </div>

        {% if is_logged_in %}
        <div class="button-container">
          <button class="button button-login">
            <a href="/draw" class="button-link">Draw</a>
          </button>
        </div>
        {% endif %}

        {% if not is_logged_in %}
        <div class="button-container">
            <button class="button button-login">
                <a href="/login" class="button-link">Login</a>
            </button>
            <button class="button button-register">
                <a href="/register" class="button-link">Register</a>
            </button>
        </div>
        {% endif %}
    </div>
</body>
</html>
