<!DOCTYPE html>
<html>

  <head>
    <title>register for outer space</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
  </head>
  <!-- -->
  <body style="width: 100vw; height: 100vh; overflow: hidden">
    <div class="container">
      <h1 style='font-size: 60px'>Register</h1>
      <br />
      <form action="/register/" method="post">
        <input type='text' name='username'/>
        <h2>Email</h2>
        <br />
        <input type='password' name='password'/>
        <h2>Password</h2>
        <br />
        <input type='password' name='confirm_password'/>
        <h2>Confirm password</h2>
        <br />
        <div class='container'>
          <input type='submit' value='enter' />
        </div>
      </form>
    </div>
  </body>

</html>
