<!DOCTYPE html>
<html>
  <head>
    <title>saved constellations</title>

    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="utf-8" />

    <style>
      body {
        background-color: #002;
      }

      .constellation {
        border: 1px solid white;
        height: 300px;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <h1>
        Saved constellations
      </h1>
      {% for img in constellations %}
      <div>
        <img src="/static/img/{{img['index']}}.png" alt="constellation" class="constellation" />
        <h3>{{img['name']}} by {{img['username']}} </h3>
      </div>
      {% endfor %}
    </div>
  </body>

</html>
